SkillFactory/PY_21/data/sber_data.csv
SkillFactory/PY_21/data/diabetes_data.csv
SkillFactory/PY_21/data/dst-3.0_16_1_hh_database.csv
SkillFactory/PY_10/data/countries.csv
SkillFactory/PY_10/data/students_performance.csv
SkillFactory/PY_11/data/citibike-tripdata.csv
SkillFactory/PY_11/data/melb_data.csv
SkillFactory/PY_13/data/churn.csv
SkillFactory/PY_13/data/country_vaccinations.csv
SkillFactory/PY_13/data/covid_data.csv
Final_project_2/data/weather.db
Final_project_1/data/weather.db
venv/